APP_NAME="Steam Stats"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8080

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=steam_stats
DB_USERNAME=root
DB_PASSWORD=secret

STEAM_API_KEY=your_steam_api_key_here