APP_NAME="Steam Stats"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost
APP_KEY=base64:NyrVCyK9/OKkdc4Qv4rHuZPLqzfirI2UYEJeP7QBeTg=

LOG_CHANNEL=stderr
LOG_LEVEL=info

# Внешние сервисы
STEAM_API_KEY=4E61874D24131B1631961E564068E692
AUTH_SERVICE_URL=http://auth-service:8082

# Если не нужны сессии или кэш, можно оставить file
CACHE_DRIVER=file
SESSION_DRIVER=file
